@media screen and (max-width: 2560px) {
  .frame-38-image {
    right: 47%;
  }

  .provided-services {
    gap: 7rem;
  }

  .displayMax-width {
    margin-left: 30rem;
  }

  .categories-section,
  .rectangle-22 {
    height: 50.5vh;
  }

  .frame-two {
    height: 30vh;
  }
}

@media screen and (max-width: 1440px) {
  .categories-section {
    height: 90vh;
  }

  .displayMax-width {
    margin-left: 0;
  }

  .rectangle-22 {
    height: 80vh;
    padding: 2.5rem 1rem 2rem 8rem;
  }

  .frame-38-image {
    right: 12%;
  }

  .frame-two {
    height: 60vh;
  }
}

@media screen and (max-width: 1024px) {
  .container {
    margin: 0 3rem;
  }

  .backgroundImg {
    width: 450px;
  }

  /* .header-section {
    padding: 0 2rem;
  } */

  .rectangle38-section {
    width: 90%;
    height: 218px;
    margin-top: 9rem;
    margin-bottom: 9rem;
    flex-direction: column;
  }

  .frame-38-image {
    right: 10%;
  }

  .location-mapDiv {
    width: 90%;
    padding: 0;
    gap: 1.4rem;
  }

  .heading-one {
    font-size: 34px;
  }

  .heading-oneParagraphy {
    font-size: 12px;
  }

  .mainHeader {
    gap: 4rem;
  }
  .ofefer-image {
    width: 100%;
  }

  .location-words {
    margin-left: 0.9rem;
  }

  .map-image {
    width: 100%;
    height: 100%;
  }

  .two-category {
    margin-left: 1rem;
  }

  /* services */
  .heading-tertiary {
    font-size: 30px;
  }

  .lorem-paragraph {
    font-size: 12px;
  }

  .lorem-lorem {
    font-size: 11px;
  }

  .heading-four {
    font-size: 19px;
  }

  .lorem-three {
    font-size: 11.2px;
  }

  .heading-five {
    font-size: 20px;
  }

  .lorem--5 {
    font-size: 12px;
  }

  .three-flex {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }

  .loremBr {
    display: none;
  }

  .rectangle-22 {
    height: 100%;
  }

  /* frame one */
  .headingTwo-news {
    font-size: 24px;
    font-weight: 700;
  }

  .lorem-nine {
    font-size: 10px;
  }

  .lorem-ten {
    font-weight: 600;
  }

  /* frme two */
  .frame-two {
    height: 100%;
    padding: 3rem 2rem 0 2rem;
  }

  .Submit {
    top: 27%;
    right: 24.4%;
  }

  .headingLink {
    font-size: 14px;
  }

  .link {
    font-size: 12px;
  }
}

@media screen and (max-width: 1000px) {
  .mainHeader {
    position: fixed;
    top: 0;
    left: 0;
    right: 100%;
    width: 100%;
    height: 100vh;
    background-color: #ffffff;
    flex-direction: column;
    z-index: 10;
    transform: translateX(100%);
    transition: all 0.5s ease-in-out;
  }

  .mainHeader.hidden {
    left: -100%;
  }

  .sub-link {
    margin-top: 10rem;
    flex-direction: column;
  }

  .menuOpenButton {
    display: block;
  }

  .menuCloseButton {
    display: block;
    position: absolute;
    top: 2%;
    right: 4%;
    color: red;
  }

  .backgroundImg {
    width: 430px;
  }

  .Submit {
    /* right: 19%; */
    right: 22.4%;
  }
}

/* MOBILE 970PX */
@media screen and (max-width: 970px) {
  .container {
    margin: 0 4rem;
  }

  .heading-div {
    gap: 1.4rem;
  }

  .heading-oneDiv {
    margin-left: 5rem;
  }

  .heading-one {
    margin-top: 5rem;
  }

  .backgroundImg {
    width: 420px;
  }

  .frame-38-image {
    right: 8%;
  }

  .myCard {
    margin-top: 3rem;
  }

  .rectangle-22 {
    padding: 2.5rem 1rem 2rem 4rem;
  }

  .nonebr {
    display: none;
  }

  .rectangle38-section {
    margin-top: 4rem;
  }

  .provided-services {
    margin-top: 2rem;
    flex-direction: column;
  }

  .Submit {
    /* top: 26.9%; */
    /* right: 25.7%; */
    right: 19.6%;
  }

  .frame-one {
    grid-template-columns: repeat(2, 1fr);
  }

  .three-flex {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }

  .footer-two {
    gap: 3rem;
  }
}

/* * MOBILE 900PX * */
@media screen and (max-width: 900px) {
  .frame-38-image {
    /* right: 1%; */
    right: 0;
  }
  .categories-section {
    height: 100%;
  }
  .explore-section {
    margin-top: 39rem;
  }

  .offer-div {
    grid-template-columns: 1fr;
  }

  .location-mapDiv {
    flex-direction: column;
    width: 80%;
    justify-content: center;
    right: 10%;
    top: 87%;
  }

  .lorem-six {
    font-size: 13px;
    padding: 0 2rem;
  }

  .frame-two {
    height: 100%;
    padding: 3rem 1rem 0 2rem;
  }

  .footer-two {
    gap: 0rem;
  }

  .Submit {
    top: 27.2%;
    right: 19.2%;
  }

  .email {
    width: 320px;
  }

  .link {
    line-height: 14px;
  }
}

/* * MOBILE 800PX * */
@media screen and (max-width: 800px) {
  .rectangle38-section {
    margin-top: 4rem;
  }

  .two-category {
    grid-template-columns: 1fr;
  }

  .grest-news {
    font-size: 13px;
    font-weight: 700;
  }

  .categoriesBckground {
    background-color: #f1eff166;
  }

  .twoFooter {
    grid-template-columns: 1fr;
  }

  .Submit {
    top: 27.4%;
    right: 56%;
  }
  /* 
  .nonebr {
    display: none;
  } */
}
/* * MOBILE 768PX * */
@media screen and (max-width: 768px) {
  .container {
    margin: 0 3rem;
  }

  .heading-div {
    margin-top: 3rem;
  }

  .frame-38-image {
    right: 4%;
  }

  .heading-oneDiv {
    margin-left: 4rem;
  }

  .heading-one {
    font-size: 27px;
    line-height: 49.3px;
  }

  .headingTwo-news {
    font-size: 20px;
    line-height: 33px;
  }

  .rectangle38-section {
    margin-top: 3rem;
    height: 224px;
    gap: 1.4rem;
  }

  .provided-services {
    margin-top: 4rem;
  }

  .numbers {
    font-weight: 600;
    font-size: 40px;
    line-height: 76.8px;
  }

  .numbers-words {
    font-size: 13px;
    font-family: poppins;
    line-height: 21.86px;
    font-weight: 500;
  }

  .rectangle-22 {
    padding: 2rem 1rem 2rem 4rem;
  }

  .Submit {
    top: 26%;
    right: 54%;
  }

  .copyright-anchor {
    font-size: 12px;
    font-weight: 400;
  }

  /* ////////////////////// */
  .heading-div {
    grid-template-columns: 1fr;
  }

  .backgroundImg {
    height: 600px;
    width: 100%;
  }

  .frame-38-image {
    right: 14%;
    top: 47%;
    height: 50%;
  }

  .heading-one {
    margin-top: 0;
  }
}

/* * MOBILE 700PX * */
@media screen and (max-width: 700px) {
  .frame-one {
    grid-template-columns: 1fr;
  }

  .Submit {
    top: 27.2%;
    right: 49.4%;
  }
}

/* * MOBILE 600PX * */
@media screen and (max-width: 600px) {
  .numbers {
    font-weight: 400;
    font-size: 30px;
    line-height: 70.8px;
  }

  .numbers-words {
    font-size: 12px;
    font-weight: 400;
  }

  .location--picture {
    margin-left: 20px;
    width: 430px;
    height: 240px;
  }

  .Submit {
    right: 40.1%;
  }
}

/* * MOBILE 550PX * */
@media screen and (max-width: 550px) {
  .location--picture {
    width: 90%;
  }

  .four-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
  }

  .arrow-statistic {
    right: 47%;
  }

  .copyright {
    flex-direction: column;
    row-gap: 1rem;
  }

  .frame-38-image {
    right: 10%;
    height: 45%;
  }

  .Submit {
    right: 34%;
  }
}

/* * MOBILE 500PX * */
@media screen and (max-width: 500px) {
  .service-type {
    width: 170px;
    height: 171px;
  }

  .service-name {
    font-size: 13px;
    font-weight: 700;
  }

  .arrow-statistic {
    right: 40%;
  }

  .Submit {
    right: 27%;
  }
}

/* * MOBILE 425PX * */
@media screen and (max-width: 425px) {
  .container {
    margin: 0 1.5rem;
  }

  .heading-oneDiv {
    margin-left: 2rem;
  }

  .frame-38-image {
    right: 4%;
  }

  .rectangle38-section {
    margin-bottom: 3rem;
  }
  .rectangle-22 {
    padding: 1.5rem 1rem 1rem 1.4rem;
  }

  .two-button-nav {
    flex-direction: column;
  }

  .services {
    grid-template-columns: 1fr;
    gap: 1rem;
  }

  .out-look {
    width: 310px;
  }

  .arrow-statistic {
    right: 37%;
  }
  .Submit {
    right: 12.2%;
  }

  .copyrightList {
    gap: 1rem;
  }

  .copyright-anchor {
    font-size: 10px;
    font-weight: 400;
  }
}

/* * MOBILE 400PX * */
@media screen and (max-width: 400px) {
  .frame-6 {
    width: 340px;
  }

  .frame-38-image {
    height: 40%;
  }

  .explore-heading {
    font-size: 19px;
  }

  .out-look {
    width: 300px;
  }

  .email {
    width: 300px;
  }

  .Submit {
    right: 12%;
  }
}

/* * MOBILE 375PX * */
@media screen and (max-width: 375px) {
  .built-heading {
    font-size: 27px;
  }

  .queries375px {
    display: none;
  }

  .Submit {
    right: 5%;
  }

  .copyright-anchor {
    font-size: 10px;
    font-weight: 200;
  }
}

/* * MOBILE 320PX * */
@media screen and (max-width: 320px) {
  .container {
    margin: 0 0.5rem;
  }

  .heading-oneDiv {
    margin-left: 1rem;
  }

  .out-look {
    width: 260px;
    box-shadow: 14px 14px 44px 0px #0000001c;
  }

  .built-heading {
    font-size: 20px;
  }

  .frame-38-image {
    right: 1;
    height: 31%;
  }

  .lorem-eight {
    font-size: 11px;
  }

  .rectangle38-section {
    margin-bottom: 3rem;
  }

  .explore-heading {
    font-size: 17px;
  }

  .rectangle-22 {
    padding: 1.5rem 0.5rem 1rem 0.5rem;
  }

  .queris320 {
    display: none;
  }

  .frame-6 {
    width: 288px;
  }

  .bar1 {
    width: 18px;
  }

  .group-bars {
    width: 60px;
    height: 40px;
    border-radius: 50%;
  }

  .digital-inovation {
    font-size: 18px;
  }

  .digital-explanation {
    font-size: 12px;
  }

  .heading-four {
    font-size: 17px;
  }

  .arrow-statistic {
    right: 23%;
  }

  .heading-five {
    font-size: 16px;
  }

  .pictures {
    width: 294px;
  }

  .frame-two {
    padding: 3rem 0.9rem 0 0.9rem;
  }

  .email {
    width: 270px;
  }

  .headingLink {
    font-size: 13px;
  }

  .Submit {
    right: 4%;
  }

  .link {
    font-size: 10px;
    line-height: 14px;
  }
}

/* * MOBILE 300PX * */
@media screen and (max-width: 300px) {
  .out-look {
    width: 250px;
    box-shadow: 14px 14px 44px 0px #0000001c;
}

  .pictures {
    width: 284px;
}

.frame-two {
  padding: 3rem 0.5rem 0 0.5rem;
}

.email {
  width: 260px;
}

  .Submit {
    right: 4.7%;
}

}
